test-*
!test-*.c
*.o
*.swp
*.gcda
*.gcno
Makefile.configure
Makefile.local
man/*.xml
man/*.html
config.h
config.log
libsqlbox.a
sqlbox.pc
libsqlbox.so
libsqlbox.so.1
sqlbox.tar.gz
sqlbox.tar.gz.sha512
*.png
*.svg
index.html
atom.xml
