html, body			{ margin: 0; }
body				{ font-family: 'Alegreya Sans', sans-serif;
				  position: relative;
				  color: #222; }
figcaption			{ font-size: smaller;
				  line-height: 1.3em;
				  margin: 1.1rem 0;
				  padding: 0.7rem 1.1rem;
				  box-shadow: 0 0 4px #aaa;
				  border-radius: 1rem;
				  background-color: #fdfdfd;
				  color: #666; }
figcaption::before		{ content: 'Figure:';
				  font-weight: 500;
				  padding-right: 0.25em;
				  color: #444; }
h2				{ text-align: center;
			  	  font-weight: 500;
				  margin: 1.5em 0;
				  font-size: 125%;
				  font-variant: small-caps; }
h3				{ font-weight: inherit;
				  font-variant: small-caps;
				  text-align: center;
				  margin: 1.5em 0;
				  font-size: inherit; }
ol, ul				{ padding-left: 1.5rem; }
img				{ margin: 0 auto;
				  display: block; }
.perf img			{ width: 100%;
				  max-width: 640px; }
.intro img			{ width: 100%;
				  max-width: 1128px; }
figure				{ margin-left: 0;
				  margin-right: 0; }
.nm				{ color: #000;
				  font-weight: 500; }
.path				{ font-style: italic;
				  color: #000; }
#within				{ text-align: center;
				  font-size: smaller;
				  position: fixed;
				  left: 0;
				  top: 0;
				  width: 100%;
				  line-height: 3rem;
				  background-color: #f6f6f6; }
#within > *			{ display: inline-block; }
#within > * + *			{ border-left: thin solid #ccc;
				  padding-left: 0.3rem;
				  margin-left: 0.3rem; }
#breadcrumbs			{ text-align: center;
				  font-size: smaller;
				  margin-top: 4rem;
				  margin-bottom: 2rem; }
pre, code			{ font-family: monospace;
				  font-size: smaller;
				  line-height: 115%; }
pre				{ overflow: hidden; }
footer				{ font-size: smaller;
				  opacity: 0.8;
				  text-align: center;
				  margin-top: 2rem;
				  padding-bottom: 1rem; }
a				{ color: blue;
				  text-decoration: none; }
strong				{ font-weight: 500; }
nav[data-sblg-nav] ul		{ list-style-type: none;
				  padding: 0; }
nav[data-sblg-nav] .header	{ font-size: smaller; }
nav[data-sblg-nav] .version	{ font-weight: 500;
				  padding-left: 0.3rem;
				  margin-left: 0.3rem;
				  display: inline-block;
				  border-left: thin solid #aaa; }
nav[data-sblg-nav] i.fa		{ font-size: x-small; }

@media only screen and (min-width: 60rem) {
  #within > * + *		{ padding-left: 1rem;
				  margin-left: 1rem; }
}
